---
title: vite with eleventy example
---

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ title }}</title>
    <script type="module">
      import "@styles/style.scss";
      import "@js/main.js";
    </script>
  </head>

  <body>
    <ul>
    {% for author in authors %}
      <li>
        <button class="trigger-button" type="button" data-author="{{ author.slug }}">
          {{ author.name }}
        </button>
      </li>
    {% endfor %}
    </ul>
    {% for author in authors %}
      <dialog data-author="{{ author.slug }}">
        <img src="{{ author.icon.url }}">
        <h2>{{ author.name }}</h2>
        <p>{{ author.description }}</p>
      </dialog>
    {% endfor %}
  </body>
</html>
